<div class="rows">
  <div class="column small-12">
    <ul class="accordion" data-accordion>
      {{#each projects}}
      <li class="accordion-navigation">
        <a href="#panel1a">{{name}} {{#if currentStartedTime}}(runs){{/if}}</a>
        <div id="panel1a" class="content{{#if currentStartedTime}} active{{/if}}">
          {{#if currentStartedTime}}
            <a class="button expanded" href="/end-timer/{{name}}">Stop timer</a>
          {{/if}}
          {{#unless $parent.anyTimerStarted}}
            <a class="button expanded" href="/start-timer/{{name}}">Start timer</a>
          {{/unless}}
          <p><a href="/projects/{{name}}">Show details</a></p>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
